<div id="modal-content-wrapper" xmlns:https="http://www.w3.org/1999/xhtml">
    <header id="modal-header">
        <h1 id="modal-title">Quelle conference voulez vous voir?</h1>
    </header>
    <section id="modal-body">
        <p></p>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button style="margin-right: 30px;" color="primary" (click)="toDirect()">En direct</button>
        <button mat-raised-button style="margin-right: 30px;" (click)="toRediff()" color="accent">Rediffusion</button>
        <button mat-raised-button (click)="closeModal()">Retour</button>
    </footer>
</div>
