
<img src="assets/home.png" style="position: absolute; top:0; left: 0; cursor: pointer;" (click)="returnToStandScene()">
<div class="loading-container">
    <mat-spinner diameter="40" aria-label="Rating"></mat-spinner>
    <div style="margin-top: 10px; margin-left: 20px; margin-right: 20px;">
        <h3 style="color: #3f51b5;"><strong>chargement en cours...</strong></h3>
    </div>
</div>
<!-- <unity #unity></unity>
<app-load-data-progress-spinner></app-load-data-progress-spinner> -->
<iframe id="myIframe" src="assets/toBuild/index.html"></iframe>
