<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Où voulez vous vous rendre?</h1>
    </header>
    <section id="modal-body">
        <p></p>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button style="margin-right: 30px;" color="primary" (click)="toStand()">Exposition Stands</button>
        <button mat-raised-button style="margin-right: 30px;" (click)="toHall()" color="accent">Hall du batiment</button>
        <button mat-raised-button (click)="closeModal()">Retour</button>
    </footer>
</div>