<div class="s-modal" style="height: 80vh">
    <div class="s-modal-header">
      <h3>Videos</h3>
      <button mat-button class="close-btn" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <div class="row s-modal-body">
  
      <mat-tab-group>
        <mat-tab label="Engie Home Service">
          <div class="grid-items" style="grid-template-columns: repeat(2, 1fr)">
            <div
              class="grid-element"
              *ngFor="let file of data.engiHomeService; let i = index"
            >
              <video
                loop
                muted
                class="library"
                controls
                data-config="some-js-object-here"
                style="height: 12em"
              >
                <source [src]="file" type="video/mp4" />
              </video>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Engie">
            <div class="grid-items" style="grid-template-columns: repeat(2, 1fr)">
              <div
                class="grid-element"
                *ngFor="let file of data.engie; let i = index"
              >
                <video
                  loop
                  muted
                  class="library"
                  controls
                  data-config="some-js-object-here"
                  style="height: 12em"
                >
                  <source [src]="file" type="video/mp4" />
                </video>
              </div>
            </div>
          </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  