<!-- <div style="position: absolute;" [ngStyle]="{'visibility': (inConference$|async) ? 'visible' : 'hidden'}">
  <img src="assets/conference.PNG" style="height: 100vh; width: 100vw;" class="img-fluid" alt="">
</div> -->

<audio src="assets/sound.mp3" id="audioFeo" loop>
</audio>

<!-- <img src="assets/home.png" style="position: absolute; top:0; left: 0; cursor: pointer;" (click)="returnToStandScene()"> -->

<!-- <button mat-button matTooltip="Se déconnecter" class="map-btn logout" (click)="logout()">
  <mat-icon>logout</mat-icon>
</button> -->

<a (click)="returnToStandScene()" class="float" *ngIf="unity.hidden">
  <i class="material-icons my-float" >
    home
  </i>
</a>

<a  (click)="logout()" class="float-2" *ngIf="unity.hidden">
  <i class="material-icons my-float">
    logout
  </i>
</a>

<div id="content-unity" class="child-div">

  <unity #unity></unity>

  <div #modal id="myModal" class="modal">
    <!-- The Close Button -->
    <span style="position: absolute;
    top: 18%;
    left: 80%;
    transform: translate(-25%, -25%);" #close class="close" (click)="closeVideoModal()">&times;</span>
    <!-- Modal Content (The Image) -->

    <video #video id="dvideo" [ngStyle]="{'visibility': src ? 'visible' : 'hidden'}" style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);" width="50%" loop muted autoplay controls [src]="src">
    </video>

  </div>

  <div #modalGallerie id="myModal" class="modal">
    <!-- The Close Button -->
    <span style="position: absolute;
    top: 18%;
    left: 80%;
    transform: translate(-25%, -25%);" #closeGallerie class="close" (click)="closeGallerieModal()">&times;</span>
    <!-- Modal Content (The Image) -->

  </div>

</div>

<div [ngStyle]="{'visibility': standIdSelected === 'None' ? 'hidden' : 'visible'}" class="FABMenu">
  <input type="checkbox" />
  <div class="hamburger">
    <div class="dots">
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
    </div>
  </div>
  <div class="action_items_bar">
    <div class="action_items">
      <span class="first_item">
        <i class="material-icons" (click)="sendAllComsId()">
          question_answer
        </i>
      </span>
      <span class="second_item" (click)="sendAllVideoUrls()">
        <i class="material-icons">
          ondemand_video
        </i>
      </span>
      <span class="third_item">
        <i class="material-icons" (click)="sendAllGallerieUrls()">
          collections
        </i>
      </span>
      <span class="fourth_item">
        <i class="material-icons" (click)="sendAllFlyerUrls()">
          picture_as_pdf
        </i>
      </span>
    </div>
  </div>
</div>

<section class="sceneLoading" *ngIf="!unity.hidden">
  <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container"><img class="logo" src="assets/img/logo-mixte.png"></div>
  </nav>
  <header class="text-center text-white masthead particle container-fluid">
    <div class="overlay">
      <div id="particles-js"></div>
    </div>

    <div class="container contentLogin">
      <div class="row">
        <div class="col-xl-12">
          <h1 class="mb-12"><strong>Bienvenue au Salon Virtuel</strong>
            chargement en cours {{ progress }} % , veuillez patienter
          </h1>
          <div class="container">
            <div class="row" style="margin-left: 0 !important;">
              <div class="col-lg-4">
                <div class="card tips">
                  <div class="content-mouse">
                    <img src="assets/img/icons8-left-click-100.png" />
                  </div>
                  <div class="card-body d-flex flex-column">
                    <div>
                      <h4 style="
                  font-family: 'Source Sans Pro', sans-serif;
                  font-weight: 700;
                ">
                        <strong>DÉPLACEMENT ET INTERACTION</strong><br />
                      </h4>
                      <p>Cliquez le bouton gauche de votre souris</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card tips">
                  <div class="content-mouse">
                    <img src="assets/img/icons8-mouse-100.png" />
                  </div>
                  <div class="card-body d-flex flex-column">
                    <div>
                      <h4 style="
                  font-family: 'Source Sans Pro', sans-serif;
                  font-weight: 700;
                ">
                        <strong>MOUVEMENT</strong><br /><strong>DE CAMERA</strong><br />
                      </h4>
                      <p>Bougez votre souris de bas en haut ou de gauche à droite</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card tips">
                  <div class="content-mouse">
                    <img src="assets/img/icons8-mouse-right-click-100.png" />
                  </div>
                  <div class="card-body d-flex flex-column">
                    <div>
                      <h4 style="
                  font-family: 'Source Sans Pro', sans-serif;
                  font-weight: 700;
                ">
                        <strong>VEROUILLAGE ET DEVEROUILLAGE CAMERA</strong><br />
                      </h4>
                      <p>Cliquez sur le bouton droit de votre souris</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-12" style="display: flex; justify-content: center;">
        <app-load-data-progress-spinner *ngIf="!unity.hidden"></app-load-data-progress-spinner>
      </div>
    </div>
  </header>
</section>