.user-list {
    height: 100%;
    overflow: auto;
    .user {
        list-style: none;
        border-bottom: 2px solid gray;
        padding-bottom: 15px;
        transition: border-bottom .1s ease-in-out;
        &:hover {
            border-bottom: 2px solid #FD4F05;         
            cursor: pointer;
        }
    }

    .user.active {
        border-bottom: 2px solid #FD4F05;
    }
}